<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/students" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="age">Age:</label>
        <input type="text" name="age" id="age">
        <br>
        <label for="major">Major:</label>
        <input type="text" name="major" id="major">
        <br>
        <button type="submit">Add Submit</button>
    </form>
    <br>
    <a href="/students">view students</a>
</body>
</html>